body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/wool.png);
  font-family: 'Ubuntu', sans-serif;
}

main {
  flex: 1 0 auto;
}

#heading {
  font-style: italic;
}

.brand-logo {
  margin-left: 3%;
}

nav {
background-color:rgba(255,255,255,0.2);
border-radius:0px 0px 15px 15px;
}

#jumbotron {
  min-height: 90vh;
}

h1, h3, h4 {
  color:teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

#bio {
  background-color:rgba(255,255,255,0.3);
  margin-bottom: 5%;
  
}

#bioP {
  color: #fff;
  line-height: 2;
  text-align: left;
  padding: 10px;
  font-size:15px;
} 

#tech {
  background-color:rgba(255,255,255,0.3);
  
}

.carousel-item {
  text-align: center;
  font-size: 19px;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
}

h2 {
  padding-top:5%;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
}

#down-arrow {
  margin-top: 10%;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
}

#headshot {
  max-width: 40%;
  min-height: 300px;
  border-radius:10%;
  margin: 35px 20px 15px 0;
  float: left;
}

hr {
  opacity: .6;
  margin-bottom: 5%;
}

.clearfix {
  overflow: auto;
}


.card .card-title {
  font-size: 18px;
}

.card-panel {
  border-radius: 12%;
  background-color: rgba(255,255,255,0.25);
}

.card-image {
  overflow: hidden;
  height: 250px;

}

.page-footer {
  background-color:rgba(255,255,255,0.2);
}

.btn{
  margin: 5%;
}

.btn-large {
  margin-bottom: 3%;
}

.disabled {
  background-color:#26a69a !important;
  color:#fff !important;
}

@media screen and (max-width:992px){
  
  .left {
    margin-left: 13%;
  }

  #headshot {
    max-width: 60%;
  }

}

@media screen and (max-width:480px){
  .card, .card-panel {
    margin-left:7% !important;
  }

  .contact-links {
    font-size: 20px;
    font-variant: small-caps;
  }
  
  #headshot {
    max-width: 100%;
  }


}