body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

main {
  flex: 1 0 auto;
}



nav {
background-color:rgba(255,255,255,0.3);
border-radius:15px 0 15px 0;
}

#jumbotron {
  min-height: 40vh;
}

h1, h4 {
  color: #FFF;
}

#bio {
  background-color:rgba(255,255,255,0.3);

}

#headshot {
  max-width: 80%;
  border-radius:30%;
  margin: 20px 0 15px 0;
}

#bioP {
  color: #fff;
  opacity: 1;
} 