body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

main {
  flex: 1 0 auto;
}

#nav-logo {
  max-width: 200px;
  margin-top: 5%;
  border-radius: 4%;
}

.link {
  text-decoration: none;
}

#heading {
  font-style: italic;
}

.brand-logo {
  margin-left: 3%;
}

nav {
  height: 75px;
  background-color: rgba(0, 150, 136, 0.8);
}

#jumbotron {
  min-height: 90vh;
}

.img-circle {
  margin-top: 15%;
  border-radius: 50%;
  max-width: 40%;
  border: teal 5px solid;
}

.circle-links {
  border-radius: 50%;
  width: 150px;
  border: black 3px solid;
  margin: 15% 20%;
}

h1, h3, h4 {
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

#bio {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

#bioP {
  border: .5px teal solid;
  border-radius: 3%;
  line-height: 1.7;
  text-align: justify;
  padding: 15px;
  font-size: 15px;
  color: #0d5454f5;
}

#tech {
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel-item {
  text-align: center;
  font-size: 19px;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
}

h2 {
  padding-top: 5%;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
}

#down-arrow {
  margin-top: 10%;
  color: teal;
  -webkit-text-fill-color: teal;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: white;
}

#headshot {
  max-width: 80%;
  max-height: 75%;
  border-radius: 3%;
  border: 2px solid teal;
  margin: 5%;
}

hr {
  opacity: .6;
}

.clearfix {
  overflow: auto;
}

.card .card-title {
  font-size: 18px;
}

.card-panel {
  border-radius: 12%;
  background-color: rgba(255, 255, 255, 0.25);
}

.card-image {
  overflow: hidden;
  height: 250px;
}

.page-footer {
  background-color: teal;
  opacity: .8;
}

.btn {
  margin: 5%;
}

.btn-large {
  margin-bottom: 3%;
}

.disabled {
  background-color: #26a69a !important;
  color: #fff !important;
}

.sidenav-overlay {
  background-color: rgba(255, 255, 255, 0);
  z-index: 0;
}

@media screen and (max-width:992px) {
  #nav-logo {
    margin-left: 15%;
  }
  #headshot {
    max-width: 80%;
  }
  #bioP {
    margin: 2%;
  }
  /* .card .card-title {
    font-size:13px;
  } */
}

@media screen and (max-width:480px) {
  .card, .card-panel {
    margin-left: 7% !important;
  }
  #bio-container {
    display: block;
  }
  #headshot {
    max-width: 100%;
    margin: auto;
    margin-top: 5%;
  }
  #bioP {
    margin: 3%;
  }
  .circle-links {
    margin: 10% 50%;
  }
}